h4 {
  margin: 0 0 14px 10px;
}
p {
  margin: 0 0 2px 10px;
}
#date {
  margin: 7px 0 14px 10px;
}
#link {
  margin-left: 40px;
}
input {
  margin: 0 0 10px 10px;
}
.listItem {
  margin: 0 0 3px 10px;
}
.doneSign {
  margin: 0 3px 0 0;
}
button {
  margin: 0 0 0 5px;
}